/**
 * Color
 */

// Dependencies
@import 'config/tokens';
// @use 'config/color';

$populations: map-get($tokens, 'populations');
$defaults: map-get($tokens, 'colors-default');

// Declarations
@each $key, $value in $populations {
  $primary: map-get($value, 'primary');
  $secondary: darken($primary, 10%);

  .bg-#{$key}--primary,
  .hover\:bg-#{$key}--primary:hover {
    color: map-get($value, 'text') !important;
    background-color: $primary !important;
  }

  .border-#{$key}--primary {
    border-color: $primary !important;
  }

  .text-#{$key}--primary {
    color: $primary;
  }

  button.bg-#{$key}--primary,
  a.bg-#{$key}--primary {
    color: map-get($value, 'text') !important;
    transition: background-color 250ms linear;

    &:hover,
    &:focus,
    &.is-active {
      color: map-get($value, 'text') !important;
      background-color: $secondary !important;
      border-color: $secondary !important;
      outline: none;
    }
  }

  .bg-#{$key}--secondary,
  .hover\:bg-#{$key}--secondary:hover {
    color: map-get($value, 'text') !important;
    background-color: $secondary !important;
  }

  .border-#{$key}--secondary {
    border-color: $secondary !important;
  }

  .text-#{$key}--secondary {
    color: $secondary;
  }

  button.bg-#{$key}--secondary,
  a.bg-#{$key}--secondary {
    color: map-get($value, 'text') !important;

    &:hover,
    &:focus,
    &.is-active {
      color: map-get($value, 'text') !important;
      background-color: $primary !important;
      border-color: $primary !important;
      outline: none;
    }
  }

  .svg-#{$key} {
    .stop1 {
      stop-color: $secondary;
    }

    .stop2 {
      stop-color: $primary;
    }
  }
}