@import 'tokens';
@import '@nycopportunity/growingup-patterns/src/config/fonts';

$font-src: map-get(map-get($tokens, 'fonts'), 'main');
$font-family-text: 'Public Sans', sans-serif;
$font-family-display: 'Public Sans', sans-serif;