.o-navigation__logo {
  background-image: "url(https://cdn.jsdelivr.net/gh/NYCOpportunity/growingupnyc-patterns@1.0.1/dist/images/logo-color2@150px.png)";
}

.text-color-black-temp {
  color: #000 !important;
}

.c-side-hero__image {
  background-image: url('../img/children_and_families.jpg');
}

button {
  transition: background-color .25s linear
}

* {
  letter-spacing: 0 !important;
}

a {
  font-weight: bold;
}