button {
  transition: background-color .25s linear
}

* {
  letter-spacing: 0 !important;
}

a {
  font-weight: bold;
}

svg {
  pointer-events: none;
}

.c-list-box__heading.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sticker--medium {
  width: 80px;
  height: 80px;
}

.icon--communications {
  width: 29px;
}

[class*='o-content'] {
  font-size: 1.3125rem;
}

.list-unordered--check ul {
  list-style: disc;

  li {
    padding-top: 0;
    padding-left: rem-calc(14);

    &:before {
      display: none;
    }
  }
}

:root {
  --o-attribution-font-size: 0.9rem
}

.small {
  font-size: 75%
}