.c-side-hero__image {
  background-image: url('../img/children_and_families.jpg');
}

button {
  transition: background-color .25s linear
}

* {
  letter-spacing: 0 !important;
}

a {
  font-weight: bold;
}

svg {
  pointer-events: none;
}

.c-list-box__heading.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sticker--medium {
  width: 80px;
  height: 80px;
}

:root {
  --o-attribution-font-size: 0.9rem
}